<h3>All Words</h3>

<ul>
#foreach ($word in $allWords)
  <li><a href="words/$word.getId()">$word.getName()</a></li>
#end
</ul>

<a href="/words/new"><button class="btn btn-default">Add new word</button></a>
