<h2>Add a new word</h2>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Word</label>
    <input type="text" id="word" name="word">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
